---
import Meta from "@/components/Meta.astro";
import Footer from "@/components/Footer.astro";

const projects = [
  { href: "projects/platformer/index.html", name: "platformer" },

  // samples
  { href: "projects/samples/moire/index.html", name: "moire" },
  { href: "projects/samples/mosaic/index.html", name: "mosaic" },
  { href: "projects/samples/rosecurve/index.html", name: "rosecurve" },
];
---

<html lang="en" data-bs-theme="dark">
  <head>
    <Meta />
  </head>

  <body class="container" id="top">
    <main>
      <h1 class="display-2"><b>pti showcase</b></h1>
      <div class="highlight"></div>

      <p class="lead">
        pti is an *small* framework you can use to make 2D games in C/C++.
      </p>

      <!-- projects -->
      <section class="row row-cols-1 row-cols-sm-4 g-4">
        {
          projects.map(({ href, name }) => (
            <div class="col">
              <div class="card h-100">
                <a href={href}>
                  <img
                    src={`/pti-projects/images/${name}.png`}
                    class="card-img-top"
                    alt={name}
                    width={128}
                    height={128}
                  />
                </a>
                <div class="card-footer">
                  <small class="text-body-secondary">{name}</small>
                </div>
              </div>
            </div>
          ))
        }
      </section>
    </main>

    <Footer />
  </body>
</html>

<style>
  .card {
    width: 128px;
    height: 128px;
  }

  .card-img-top {
    object-fit: contain;
  }
</style>
