---
import Meta from "@/components/Meta.astro";
import Footer from "@/components/Footer.astro";
import Showcase from "@/components/Showcase.astro";

const demos = [
  { href: "projects/menu/index.html", name: "menu" },
  { href: "projects/rocktoss/index.html", name: "rocktoss" },
  { href: "projects/coinrush/index.html", name: "coinrush" },
  { href: "projects/zombies/index.html", name: "zombies" },
  { href: "projects/towerfall-physics/index.html", name: "towerfall-physics" },
  { href: "projects/platformer/index.html", name: "platformer" },
];
const samples = [
  { href: "projects/samples/moire/index.html", name: "moire" },
  { href: "projects/samples/mosaic/index.html", name: "mosaic" },
  { href: "projects/samples/rosecurve/index.html", name: "rosecurve" },
];
---

<html lang="en" data-bs-theme="dark">
  <head>
    <Meta />
  </head>

  <body class="container" id="top">
    <main>
      <section>
        <h1 class="display-2"><b>pti.h</b></h1>
        <div class="highlight"></div>

        <p class="lead">
          Hi there 👋 <code>pti.h</code> is a *petit* framework you can use to make
          retro 2D games with chunky pixels in C/C++. It's free, open-source, and
          works on Windows, macOS, and on the web.
        </p>
        <p>
          The source can be found on <a
            href="https://github.com/mathewmariani/pti">GitHub</a
          >.
        </p>
      </section>

      <section>
        <Showcase title="Demos" items={demos} />
        <Showcase title="Samples" items={samples} />
      </section>
    </main>

    <Footer />
  </body>
</html>
